.chat {
  display: flex;
  flex-direction: column;
  flex: 1;
  height: 100%;
  overflow: hidden;
}

.button-close {
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  border: 1px solid white;
  font: inherit;
  cursor: pointer;
  background-color: rgb(8, 255, 32,.2);
  box-shadow: 0 0 1px rgb(255, 255, 255,1),
              0 0 2px rgb(8, 255, 32,1),
              0 0 3px rgb(255, 255, 255,1);
  color: black;

  &:hover {
    cursor: pointer;
  }
}
.chat__message{
  display: flex;
  justify-content: space-between;
}

.chat__message-text{
  margin-top: 5px;
  padding: 5px;
  max-width: 60%;
  box-shadow: 6px -3px 3px 0px rgba(0,0,0,0.75);
  border-radius: 0px 10px 10px 10px;
  border: 1px solid #000000;
}
.text{
  display: flex;
}
.status{
  display: flex;
  justify-content: center;
  align-items: center;
  transition: .5s;
  h1{
    margin-right: 20px;
  }
}