@headerHeight: 80px;
@footerHeight: 100px;

.page-wrapper {
  height: 100vh;
  display: flex;
  flex-direction: column;

  &__header {
    display: flex;
    height: @headerHeight;
    border-bottom: 1px solid white;
    box-sizing: border-box;
    text-align: center;
  }

  &__footer {
    display: flex;
    height: @footerHeight;
  }

  &__content {
    flex: 1;
    display: flex;
  }
}

.content {
  &__sidebar {
    width: 150px;
    background-color: #06031d;
    border-bottom: 1px solid white;
    border-right: 1px solid white;
    box-sizing: border-box;
  }

  &__chat {
    flex: 1;
    background-color: grey;
    border-bottom: 1px solid white;
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow: hidden;
  }
}
.footer {
  overflow: auto;
}