
.chat {

  &__message {
    display: flex;
  }

  &__message-text {
    white-space: pre-line;
  }

  &__user-name {
    font-weight: bold;
    color: #b50095;
  }

  &__user-name_hidden {
    visibility: hidden;
  }

  &__input {
    width: 100%;
    height: 100px;
  }

  &__messages {
    flex: 1;
    overflow-y: auto;
  }
}
