
.chat {

  &__message {
    display: flex;
  }

  &__message-text {
    white-space: pre-line;
    background: #ffffff;
  }

  &__user-name {
    font-weight: bold;
    color: #020931;
    font-size: 24px;
  }

  &__user-name_hidden {
    visibility: hidden;
  }

  &__input {
    width: 80%;
    height: 40px;
    font-size: 18px;
  }
  &__button{
    width: 20%;
    height: 45px;
    border: none;
    font: inherit;
    cursor: pointer;
    background: #020931;
    color: #ffffff;
  }

  &__messages {
    flex: 1;
    overflow-y: auto;
  }
}
